
Algorithms/Algorithms.vcxproj.filters
Algorithms/Algorithms.vcxproj
*.user
*.tlog
*.obj
*.idb
*.pdb
*.log
*.json
*.sqlite
*.db-shm
*.opendb
*.testlog
*.db
*.db-wal
*.manifest
*.dll
*.exe
*.ilk
*.ipch
*.lib
*.sln
*.filters
*.vcxproj
*.suo
*.pch
*.exp
*.txt
SortingAlgorithms/.vs/Sorting/v16/.suo
